$img-1: url("../images/img-1.jpg");
$img-2: url("../images/img-2.jpg");
$img-3: url("../images/img-3.jpg");
$img-background: url("../images/img-background.jpg");
$png-1: url("../png/png-1.png");

$text-color: white;
$background-image: linear-gradient(to bottom right, #121419, #282f33, #7d9ea1);